{% extends "base.html" %}
{% block title %}Market{% endblock %}
{% block content %}
  Hi {{ user.username }}!
  This is the market page.
  You have {{ trader.asset_0 }} asset_0.
  You have {{ trader.asset_1 }} asset_1.
  You have {{ trader.asset_2 }} asset_2.
  You have {{ trader.asset_3 }} asset_3.
  You have ${{ trader.capital }} in capital.
  <br>
  <textarea id="order-log" cols="100" rows="15"></textarea>
  <br>
  Place an order for {{ asset_num }}:
  <br>
  Side (A/B):
  <input id="order-side-input" type="text" size="30">
  <br>
  Quantity:
  <input id="order-quantity-input" type="number" size="30">
  <br>
  Price:
  <input id="order-price-input" type="number" size="30">
  <br>
  <input id="order-submit" type="button" value="Send">
  <script>
    const asset = '{{ asset_num }}'

    const assetSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/market/'
        + asset
        + '/'
    );

    assetSocket.onmessage = function(e) {

      // parse data:
          // message_type: {no-match, partial-match, full-match, cancel}


      document.querySelector('#order-log').value += (e.data + "\n");
    };

    assetSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    // document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function(e) {
    //     if (e.key === 'Enter') {  // enter, return
    //         document.querySelector('#chat-message-submit').click();
    //     }
    // };

    document.querySelector('#order-submit').onclick = function(e) {
        const sideInputDom = document.querySelector('#order-side-input');
        const priceInputDom = document.querySelector('#order-price-input');
        const quantityInputDom = document.querySelector('#order-quantity-input');

        const side = sideInputDom.value;
        const price = priceInputDom.value;
        const quantity = quantityInputDom.value;

        assetSocket.send(JSON.stringify({
            'side': side,
            'quantity': quantity,
            'price': price,
        }));
    };
  </script>
{% endblock %}
